/***** MAIN *****/
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    height: fit-content;
    width: 100%;
    padding: 1.6rem 9.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--main-color);
}

.status {
    display: flex;
    align-items: center;
    width: fit-content;
}

select {
    background: none;
    appearance: none;
    border: none;
    outline: none;
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.legenda {
    display: flex;
    gap: 2.4rem;
}

.legenda-container {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.block {
    width: 20px;
    height: 20px;
    
}

.title-container {
    display: flex;
    align-items: center;
    font-size: 5.4rem;
    font-weight: 500;
    color: var(--main-color);
    padding: 3.5rem;
}

#students {
    display: flex;
    gap: 6.2rem;
}

.student {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    width: 20rem;
    font-size: 1.8rem;
    padding: .8rem 1.2rem 3rem 1.2rem;
    text-align: center;
    color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.749);
}

.student-photo {
    width: 200px;
    height: 200px;
}

.blue-block {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.596);
    background-color: var(--main-color);
}

.yellow-block {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.749);
    background-color: var(--yellow-color);
}