* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
    --main-color: #3347B0;
    --secondary-color: #BCC2E5;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/***** HEADER *****/
nav {
    padding: 1.2rem 9.6rem;
    height: 10rem;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: 15rem;
}

.logo-text {
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.exit-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fa-arrow-right-from-bracket {
    color: white;
    font-size: 4rem;
}

.exit-text {
    color: white;
    font-size: 3.6rem;
    font-weight: 500;
}

/***** MAIN *****/
main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.devices-container {
    width: 52rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.4rem;
}

.title {
    font-size: 7rem;
    font-weight: 200;
}

.blue-title {
    color: var(--main-color);
    font-weight: 700;
}

.device-image {
    height: 40rem;
    width: 60rem;
}

.girl-image {
    height: 60rem;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    box-shadow: 12px 12px 4px rgba(51, 71, 176, 0.5);
    padding: 10rem 16rem;
    color: white;
    font-size: 6.4rem;
    font-weight: 600;
}

/***** FOOTER *****/
footer {
    padding-left: 9.6rem;
    padding-right: 9.6rem;
    height: 15rem;
    background-color: var(--main-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.fa-solid {
    font-size: 2.5rem;
}

.text-contact {
    font-size: 1.6rem;
}

.copy {
    font-size: 2rem;
}

.social {
    /* background-color: tomato; */
    display: flex;
    gap: 2rem;
}

.social-icon {
    height: 48px;
    width: 48px;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #FFF;
    color: white;
    font-size: 2.5rem;
}